@import "tailwindcss";
@plugin "@tailwindcss/forms";

@layer base {
  input[type=file]::-webkit-file-upload-button,
  input[type=file]::file-selector-button {
    @apply text-white bg-gray-500 text-sm cursor-pointer border-0 py-2 pl-8 pr-4;
    margin-inline-start: -1rem;
    margin-inline-end: 1rem;
  }

  input[type=file]::file-selector-button:hover {
    @apply bg-gray-600 transition duration-300 ease-in;
  }
}
