# Miljöfiler
.env
.env.test

# Byggade assets
public/css/app.css
public/js/app.js
public/images/user/

# Dependencies
vendor/
node_modules/

# Förhindra att skriptfiler hamnar i källkoden
framework/src/**/*.sh
*.sh

/tests/uploads*.jpg
/tests/uploads*.jpeg
/tests/uploads*.png
/tests/uploads*.webp

# Test/coverage-cache
.phpunit.cache/
.phpunit.result.cache
phpunit.xml.bak
coverage/

# IDE och diverse cache
.idea/
cache/
storage/
.php-cs-fixer.cache
infection-report.html

# Build-artifacts
build/
-