{
  "$schema": "https://raw.githubusercontent.com/infection/infection/0.29.8/resources/schema.json",
  "source": {
    "directories": ["src", "framework/src"],
    "excludes": ["config", "routes", "resources", "database", "tests"]
  },
  "logs": {
    "text": "php://stdout",
    "html": "infection-report.html"
  },
  "mutators": {
    "@default": true,

    "BitwiseOr": {
      "ignore": [
        "App\\Controllers\\Api\\HealthController::index",
        "Radix\\Middleware\\Middlewares\\RateLimiter::process"
      ]
    },

    "Ternary": {
      "ignore": [
        "Radix\\Container\\Resolver::resolveDependencies",
        "Radix\\Middleware\\Middlewares\\RateLimiter::__construct",
        "Radix\\Middleware\\Middlewares\\RateLimiter::increment"
      ]
    },

    "Concat": {
      "ignore": [
        "Radix\\Container\\Resolver::resolveDependencies"
      ]
    },

    "ConcatOperandRemoval": {
      "ignore": [
        "Radix\\Container\\Resolver::resolveDependencies"
      ]
    },

    "Continue_": {
      "ignore": [
        "Radix\\Container\\Resolver::resolveDependencies"
      ]
    },

    "ArrayOneItem": {
      "ignore": [
        "Radix\\Container\\Resolver::resolveDependencies"
      ]
    },

    "InstanceOf_": {
      "ignore": [
        "Radix\\Container\\Resolver::resolveDependencies",
        "Radix\\Middleware\\Middlewares\\RateLimiter::__construct"
      ]
    },

    "CastInt": {
      "ignore": [
        "Radix\\Middleware\\Middlewares\\RateLimiter::process",
        "Radix\\Middleware\\Middlewares\\RateLimiter::increment",
        "Radix\\Middleware\\Middlewares\\RequestLogger::process",
        "Radix\\Middleware\\Middlewares\\LimitRequestSize::bytesToMegabytes"
      ]
    },

    "DecrementInteger": {
      "ignore": [
        "Radix\\Middleware\\Middlewares\\RateLimiter::__construct",
        "Radix\\Middleware\\Middlewares\\RateLimiter::increment",
        "Radix\\Middleware\\Middlewares\\RateLimiter::process",
        "Radix\\Middleware\\Middlewares\\RequestLogger::process",
        "Radix\\Middleware\\Middlewares\\LimitRequestSize::bytesToMegabytes",
        "Radix\\Collection\\Collection::filter",
        "Radix\\Container\\Resolver::createFromFactory"
      ]
    },

    "IncrementInteger": {
      "ignore": [
        "Radix\\Middleware\\Middlewares\\RateLimiter::increment",
        "Radix\\Middleware\\Middlewares\\RateLimiter::process",
        "Radix\\Middleware\\Middlewares\\RequestLogger::process",
        "Radix\\Middleware\\Middlewares\\LimitRequestSize::bytesToMegabytes",
        "Radix\\Collection\\Collection::filter",
        "Radix\\Container\\Resolver::createFromFactory"
      ]
    },

    "Minus": {
      "ignore": [
        "Radix\\Middleware\\Middlewares\\RateLimiter::increment"
      ]
    },

    "GreaterThanNegotiation": {
      "ignore": [
        "Radix\\Middleware\\Middlewares\\RateLimiter::increment"
      ]
    },

    "UnwrapRtrim": {
      "ignore": [
        "Radix\\Middleware\\Middlewares\\RateLimiter::increment"
      ]
    },

    "Plus": {
      "ignore": [
        "Radix\\Middleware\\Middlewares\\RateLimiter::increment",
        "Radix\\Middleware\\Middlewares\\RequestLogger::process"
      ]
    },

    "GreaterThan": {
      "ignore": [
        "Radix\\Middleware\\Middlewares\\RateLimiter::increment",
        "Radix\\Middleware\\Middlewares\\LimitRequestSize::bytesToMegabytes"
      ]
    },

    "LessThan": {
      "ignore": [
        "Radix\\Middleware\\Middlewares\\RateLimiter::increment",
        "Radix\\Middleware\\Middlewares\\RequestLogger::process",
        "Radix\\Middleware\\Middlewares\\LimitRequestSize::getContentLengthFromServer"
      ]
    },

    "LessThanNegotiation": {
      "ignore": [
        "Radix\\Middleware\\Middlewares\\RateLimiter::increment"
      ]
    },

    "NotIdentical": {
      "ignore": [
        "Radix\\Middleware\\Middlewares\\RequestLogger::process"
      ]
    },

    "LogicalOr": {
      "ignore": [
        "Radix\\Middleware\\Middlewares\\LimitRequestSize::getContentLengthFromServer",
        "Radix\\Collection\\Collection::unique"
      ]
    },

    "LogicalAnd": {
      "ignore": [
        "Radix\\Config\\Config::get"
      ]
    },

    "LogicalAndAllSubExprNegation": {
      "ignore": [
        "Radix\\Collection\\Collection::offsetExists",
        "Radix\\Collection\\Collection::only"
      ]
    },

    "ReturnRemoval": {
      "ignore": [
        "Radix\\Collection\\Collection::offsetExists",
        "Radix\\Collection\\Collection::last"
      ]
    },

    "CastBool": {
      "ignore": [
        "Radix\\Collection\\Collection::filter"
      ]
    },

    "LogicalNot": {
      "ignore": [
        "Radix\\Collection\\Collection::only",
        "Radix\\Container\\Resolver::createFromFactory"
      ]
    },

    "Identical": {
      "ignore": [
        "Radix\\Collection\\Collection::unique"
      ]
    },

    "LogicalOrAllSubExprNegation": {
      "ignore": [
        "Radix\\Collection\\Collection::unique"
      ]
    },

    "CastString": {
      "ignore": [
        "Radix\\Collection\\Collection::unique"
      ]
    },

    "TrueValue": {
      "ignore": [
        "Radix\\Collection\\Collection::unique",
        "Radix\\Container\\Resolver::parseConcrete"
      ]
    },

    "Throw_": {
      "ignore": [
        "Radix\\Container\\Resolver::createFromFactory"
      ]
    },
  },
  "testFramework": "phpunit",
  "bootstrap": "./vendor/autoload.php",
  "phpUnit": {
    "configDir": "."
  }
}