{
  "$schema": "https://raw.githubusercontent.com/infection/infection/0.32/resources/schema.json",
  "source": {
    "directories": ["src"],
    "excludes": ["config", "routes", "resources", "database", "tests", "vendor"]
  },
  "logs": {
    "text": "php://stdout"
  },
  "timeout": 25,
  "mutators": {
    "@default": true,
    "PublicVisibility": false,
    "ProtectedVisibility": false,

    "NotIdentical": {
      "ignore": [
        "App\\Middlewares\\RequestLogger::process"
      ]
    },
    "LessThan": {
      "ignore": [
        "App\\Middlewares\\RequestLogger::process"
      ]
    }
  },
  "testFramework": "phpunit",
  "bootstrap": "./vendor/autoload.php",
  "phpUnit": {
    "configDir": "."
  }
}