{
  "$schema": "https://raw.githubusercontent.com/infection/infection/0.29.8/resources/schema.json",
  "source": {
    "directories": ["src", "framework/src"],
    "excludes": ["config", "routes", "resources", "database", "tests"]
  },
  "logs": {
    "text": "php://stdout",
    "html": "infection-report.html"
  },
  "timeout": 15,
  "mutators": {
    "@default": true,

    "BitwiseOr": {
      "ignore": [
        "App\\Controllers\\Api\\HealthController::index",
        "Radix\\Middleware\\Middlewares\\RateLimiter::process",
        "Radix\\File\\Writer::ndjsonStream",
        "Radix\\File\\Writer::json"
      ]
    },

    "Ternary": {
      "ignore": [
        "Radix\\Container\\Resolver::resolveDependencies",
        "Radix\\Middleware\\Middlewares\\RateLimiter::__construct",
        "Radix\\Middleware\\Middlewares\\RateLimiter::increment",
        "Radix\\File\\Writer::xml"
      ]
    },

    "Concat": {
      "ignore": [
        "Radix\\Container\\Resolver::resolveDependencies",
        "Radix\\File\\Writer::json"
      ]
    },

    "ConcatOperandRemoval": {
      "ignore": [
        "Radix\\Container\\Resolver::resolveDependencies",
        "Radix\\File\\Writer::json",
        "Radix\\File\\Writer::csv"
      ]
    },

    "Continue_": {
      "ignore": [
        "Radix\\Container\\Resolver::resolveDependencies",
        "Radix\\Routing\\Dispatcher::handle"
      ]
    },

    "Break_": {
      "ignore": [
        "Radix\\File\\Reader::detectDelimiter",
        "Radix\\Http\\EventListeners\\CorsListener::__invoke"
      ]
    },

    "ArrayOneItem": {
      "ignore": [
        "Radix\\Container\\Resolver::resolveDependencies",
        "Radix\\Routing\\Dispatcher::actionArguments",
        "Radix\\Routing\\Dispatcher::middlewares"
      ]
    },

    "Foreach_": {
      "ignore": [
        "Radix\\Routing\\Dispatcher::actionArguments",
        "Radix\\Routing\\Dispatcher::handle"
      ]
    },

    "InstanceOf_": {
      "ignore": [
        "Radix\\Container\\Resolver::resolveDependencies",
        "Radix\\Middleware\\Middlewares\\RateLimiter::__construct"
      ]
    },

    "CastInt": {
      "ignore": [
        "Radix\\Middleware\\Middlewares\\RateLimiter::process",
        "Radix\\Middleware\\Middlewares\\RateLimiter::increment",
        "Radix\\Middleware\\Middlewares\\RequestLogger::process",
        "Radix\\Middleware\\Middlewares\\LimitRequestSize::bytesToMegabytes"
      ]
    },

    "DecrementInteger": {
      "ignore": [
        "Radix\\Middleware\\Middlewares\\RateLimiter::__construct",
        "Radix\\Middleware\\Middlewares\\RateLimiter::increment",
        "Radix\\Middleware\\Middlewares\\RateLimiter::process",
        "Radix\\Middleware\\Middlewares\\RequestLogger::process",
        "Radix\\Middleware\\Middlewares\\LimitRequestSize::bytesToMegabytes",
        "Radix\\Collection\\Collection::filter",
        "Radix\\Container\\Resolver::createFromFactory",
        "Radix\\File\\Image::resizeImage",
        "Radix\\File\\Upload::__construct",
        "Radix\\File\\Reader::xmlToArray",
        "Radix\\File\\Reader::detectDelimiter",
        "Radix\\File\\Reader::ndjsonStream",
        "Radix\\File\\Reader::textStream",
        "Radix\\File\\Reader::csvStream",
        "Radix\\File\\Reader::xml",
        "Radix\\File\\Reader::json",
        "Radix\\File\\Writer::xml",
        "Radix\\File\\Writer::ndjsonStream",
        "Radix\\File\\Writer::csv",
        "Radix\\File\\Writer::text",
        "Radix\\File\\Writer::json",
        "Radix\\File\\Writer::ensureParentDir",
        "Radix\\Routing\\Dispatcher::handle",
        "Radix\\Session\\RadixSessionHandler::write",
        "Radix\\Session\\RadixSessionHandler::__construct"
      ],
      "ignoreSourceCodeByRegex": [
        "if \\(\\$targetEncoding !== null && strcasecmp\\(\\$targetEncoding, 'UTF-8'\\) !== 0\\)"
      ]
    },

    "IncrementInteger": {
      "ignore": [
        "Radix\\Middleware\\Middlewares\\RateLimiter::increment",
        "Radix\\Middleware\\Middlewares\\RateLimiter::process",
        "Radix\\Middleware\\Middlewares\\RequestLogger::process",
        "Radix\\Middleware\\Middlewares\\LimitRequestSize::bytesToMegabytes",
        "Radix\\Collection\\Collection::filter",
        "Radix\\Container\\Resolver::createFromFactory",
        "Radix\\File\\Image::crop",
        "Radix\\File\\Image::resizeImage",
        "Radix\\File\\Upload::__construct",
        "Radix\\File\\Reader::xmlToArray",
        "Radix\\File\\Reader::detectDelimiter",
        "Radix\\File\\Reader::ndjsonStream",
        "Radix\\File\\Reader::textStream",
        "Radix\\File\\Reader::xml",
        "Radix\\File\\Reader::json",
        "Radix\\File\\Writer::ndjsonStream",
        "Radix\\File\\Writer::csv",
        "Radix\\File\\Writer::json",
        "Radix\\File\\Writer::ensureParentDir",
        "Radix\\Routing\\Router::extractRoute",
        "Radix\\Routing\\Dispatcher::handle",
        "Radix\\Session\\RadixSessionHandler::write",
        "Radix\\Session\\RadixSessionHandler::__construct"
      ]
    },

    "Coalesce": {
      "ignore": [
        "Radix\\Routing\\Router::group",
        "Radix\\Session\\RadixSessionHandler::__construct"
      ]
    },

    "UnwrapTrim": {
      "ignore": [
        "Radix\\Routing\\Router::group"
      ]
    },

    "Minus": {
      "ignore": [
        "Radix\\Middleware\\Middlewares\\RateLimiter::increment"
      ]
    },

    "GreaterThanNegotiation": {
      "ignore": [
        "Radix\\Middleware\\Middlewares\\RateLimiter::increment"
      ]
    },

    "UnwrapRtrim": {
      "ignore": [
        "Radix\\Middleware\\Middlewares\\RateLimiter::increment",
        "Radix\\File\\Reader::ndjsonStream",
        "Radix\\Routing\\Router::add",
        "Radix\\Routing\\Router::addRoute",
        "Radix\\Session\\RadixSessionHandler::gc",
        "Radix\\Session\\RadixSessionHandler::destroy",
        "Radix\\Session\\RadixSessionHandler::write",
        "Radix\\Session\\RadixSessionHandler::read"
      ]
    },

    "UnwrapLtrim": {
      "ignore": [
        "Radix\\Routing\\Router::add",
        "Radix\\Routing\\Router::addRoute"
      ]
    },

    "MBString": {
      "ignore": [
        "Radix\\Routing\\Router::addRoute",
        "Radix\\Routing\\Router::match"
      ]
    },

    "Plus": {
      "ignore": [
        "Radix\\Middleware\\Middlewares\\RateLimiter::increment",
        "Radix\\Middleware\\Middlewares\\RequestLogger::process",
        "Radix\\Session\\RadixSessionHandler::write"
      ]
    },

    "GreaterThan": {
      "ignore": [
          "Radix\\Middleware\\Middlewares\\RateLimiter::increment",
          "Radix\\Middleware\\Middlewares\\LimitRequestSize::bytesToMegabytes"
      ]
    },

    "LessThan": {
      "ignore": [
        "Radix\\Middleware\\Middlewares\\RateLimiter::increment",
        "Radix\\Middleware\\Middlewares\\RequestLogger::process",
        "Radix\\Middleware\\Middlewares\\LimitRequestSize::getContentLengthFromServer",
        "Radix\\Controller\\ApiController::isTokenValid",
        "Radix\\Session\\RadixSessionHandler::gc"
      ]
    },

    "LessThanOrEqualTo": {
      "ignore": [
        "Radix\\File\\Image::crop"
      ]
    },

    "LessThanNegotiation": {
      "ignore": [
        "Radix\\Middleware\\Middlewares\\RateLimiter::increment"
      ]
    },

    "NotIdentical": {
      "ignore": [
        "Radix\\Middleware\\Middlewares\\RequestLogger::process",
        "Radix\\File\\Image::resizeImage",
        "Radix\\File\\Reader::detectDelimiter",
        "Radix\\File\\Reader::ndjsonStream",
        "Radix\\File\\Reader::textStream",
        "Radix\\File\\Reader::xml",
        "Radix\\File\\Writer::xml",
        "Radix\\File\\Writer::ensureParentDir",
        "Radix\\File\\Writer::ndjsonStream",
        "Radix\\File\\Writer::csv",
        "Radix\\File\\Writer::text",
        "Radix\\Routing\\Router::group"
      ],
      "ignoreSourceCodeByRegex": [
        "if \\(\\$targetEncoding !== null && strcasecmp\\(\\$targetEncoding, 'UTF-8'\\) !== 0\\)"
      ]
    },

    "LogicalAndNegation": {
      "ignore": [
        "Radix\\File\\Writer::xml",
        "Radix\\File\\Writer::ndjsonStream",
        "Radix\\File\\Writer::csvStream",
        "Radix\\Session\\RadixSessionHandler::__construct"
      ]
    },

    "LogicalOr": {
      "ignore": [
        "Radix\\Middleware\\Middlewares\\LimitRequestSize::getContentLengthFromServer",
        "Radix\\Collection\\Collection::unique",
        "Radix\\Container\\Argument\\LiteralArgument::setValue",
        "Radix\\Container\\Definition::getResolved",
        "Radix\\Controller\\ApiController::isTokenValid",
        "Radix\\File\\Image::crop",
        "Radix\\File\\Writer::csv",
        "Radix\\File\\Writer::csvStream",
        "Radix\\Routing\\Router::addRoute",
        "Radix\\Routing\\Dispatcher::handle"
      ]
    },

    "LogicalAnd": {
      "ignore": [
        "Radix\\Config\\Config::get",
        "Radix\\Container\\Argument\\Literal\\CallableArgument::isMethod",
        "Radix\\File\\Upload::__construct",
        "Radix\\File\\Writer::csvStream",
        "Radix\\File\\Writer::csv",
        "Radix\\File\\Writer::ensureParentDir",
        "Radix\\Session\\RadixSessionHandler::__construct"
      ]
    },

    "LogicalAndAllSubExprNegation": {
      "ignore": [
        "Radix\\Collection\\Collection::offsetExists",
        "Radix\\Collection\\Collection::only",
        "Radix\\Container\\Argument\\LiteralArgument::setValue",
        "Radix\\Container\\Definition::getResolved",
        "Radix\\File\\Reader::detectDelimiter",
        "Radix\\File\\Writer::ensureParentDir",
        "Radix\\Routing\\Router::group",
        "Radix\\Routing\\Dispatcher::handle",
        "Radix\\Session\\RadixSessionHandler::__construct"
      ]
    },

    "LogicalOrSingleSubExprNegation": {
      "ignore": [
        "Radix\\File\\Writer::csv",
        "Radix\\File\\Writer::csvStream",
        "Radix\\Routing\\Dispatcher::handle"
      ]
    },

    "PregMatchRemoveCaret": {
      "ignore": [
        "Radix\\Routing\\Dispatcher::handle"
      ]
    },

    "LogicalAndSingleSubExprNegation": {
      "ignore": [
        "Radix\\Routing\\Dispatcher::handle"
      ]
    },

    "ReturnRemoval": {
      "ignore": [
        "Radix\\Collection\\Collection::offsetExists",
        "Radix\\Collection\\Collection::last",
        "Radix\\File\\Reader::detectDelimiter"
      ]
    },

    "CastBool": {
      "ignore": [
        "Radix\\Collection\\Collection::filter",
        "Radix\\Http\\EventListeners\\CorsListener::__invoke"
      ]
    },

    "CastArray": {
      "ignore": [
        "Radix\\File\\Writer::xml"
      ]
    },

    "LogicalNot": {
      "ignore": [
        "Radix\\Collection\\Collection::only",
        "Radix\\Container\\Resolver::createFromFactory",
        "Radix\\Container\\Argument\\LiteralArgument::setValue",
        "Radix\\File\\Upload::__construct",
        "Radix\\File\\Writer::csv",
        "Radix\\File\\Writer::csvStream",
        "Radix\\Session\\RadixSessionHandler::write",
        "Radix\\Session\\RadixSessionHandler::__construct"
      ]
    },

    "Identical": {
      "ignore": [
        "Radix\\Collection\\Collection::unique",
        "Radix\\Http\\Request::header",
        "Radix\\Routing\\Dispatcher::handle"
      ]
    },

    "LogicalOrAllSubExprNegation": {
      "ignore": [
        "Radix\\Collection\\Collection::unique",
        "Radix\\File\\Writer::csv",
        "Radix\\Routing\\Dispatcher::handle"
      ],
      "ignoreSourceCodeByRegex": [
        "is_bool\\(\\$v\\) \\|\\| is_int\\(\\$v\\) \\|\\| is_float\\(\\$v\\) \\|\\| is_string\\(\\$v\\)"
      ]
    },

    "CastString": {
      "ignore": [
        "Radix\\Collection\\Collection::unique",
        "Radix\\Controller\\ApiController::validateApiToken",
        "Radix\\Controller\\ApiController::isTokenValid",
        "Radix\\File\\Reader::csvStream",
        "Radix\\File\\Reader::csv",
        "Radix\\File\\Writer::arrayToXml",
        "Radix\\File\\Writer::collectHeaders",
        "Radix\\Session\\RadixSessionHandler::read",
      ]
    },

    "TrueValue": {
      "ignore": [
        "Radix\\Collection\\Collection::unique",
        "Radix\\Container\\Resolver::parseConcrete",
        "Radix\\File\\Reader::ndjsonStream",
        "Radix\\File\\Reader::json",
        "Radix\\File\\Reader::xml",
        "Radix\\File\\Writer::json"
      ]
    },

    "FalseValue": {
      "ignore": [
        "Radix\\File\\Reader::csvStream",
        "Radix\\File\\Reader::csv"
      ]
    },

    "ProtectedVisibility": {
      "ignore": [
        "Radix\\Container\\Container::resolveAlias",
        "Radix\\Container\\Container::resolveInstance",
        "Radix\\File\\Image::getOptimalCrop",
        "Radix\\File\\Image::getSizeByAuto",
        "Radix\\File\\Image::getSizeByRatio"
      ]
    },

    "MethodCallRemoval": {
      "ignore": [
        "Radix\\Container\\Argument\\Literal\\ArrayArgument::__construct",
        "Radix\\Container\\Argument\\Literal\\ObjectArgument::__construct",
        "Radix\\File\\Image::__destruct",
        "Radix\\File\\Image::resizeImage",
        "Radix\\File\\Reader::ndjsonStream",
        "Radix\\File\\Reader::textStream",
        "Radix\\File\\Reader::csvStream",
        "Radix\\File\\Reader::xml",
        "Radix\\File\\Writer::ndjsonStream",
        "Radix\\File\\Writer::xml",
        "Radix\\File\\Writer::text",
        "Radix\\File\\Writer::csv",
        "Radix\\Routing\\Dispatcher::handle"
      ],
      "ignoreSourceCodeByRegex": [
        "public static function csv\\s*\\("
      ]
    },
    "FunctionCallRemoval": {
      "ignore": [
        "Radix\\File\\Image::__destruct",
        "Radix\\File\\Image::resizeImage",
        "Radix\\File\\Reader::xml",
        "Radix\\File\\Writer::xml",
        "Radix\\Routing\\Dispatcher::handle"
      ]
    },

    "Throw_": {
      "ignore": [
        "Radix\\Container\\Resolver::createFromFactory",
        "Radix\\Container\\Argument\\Literal\\ArrayArgument::__construct",
        "Radix\\Container\\Container::resolveAlias",
        "Radix\\File\\Image::openImage"
      ]
    },

    "RoundingFamily": {
      "ignore": [
        "Radix\\File\\Image::crop",
        "Radix\\File\\Image::getOptimalCrop",
        "Radix\\File\\Image::getSizeByRatio"
      ]
    },

    "IfNegation": {
      "ignore": [
        "Radix\\File\\Writer::json",
        "Radix\\Routing\\Dispatcher::handle",
        "Radix\\Session\\RadixSessionHandler::write"
      ]
    },

    "Assignment": {
      "ignore": [
        "Radix\\File\\Reader::detectDelimiter",
        "Radix\\File\\Writer::json"
      ]
    },

    "ArrayItemRemoval": {
      "ignore": [
        "Radix\\File\\Reader::detectDelimiter",
        "Radix\\Http\\EventListeners\\CorsListener::__invoke"
      ]
    },

    "UnwrapArrayValues": {
      "ignore": [
        "Radix\\Http\\EventListeners\\CorsListener::onResponse",
        "Radix\\Http\\EventListeners\\CorsListener::__invoke"
      ]
    },

    "UnwrapFinally": {
      "ignore": [
        "Radix\\File\\Reader::ndjsonStream",
        "Radix\\File\\Reader::textStream",
        "Radix\\File\\Writer::xml",
        "Radix\\File\\Writer::ndjsonStream",
        "Radix\\File\\Writer::csvStream",
        "Radix\\File\\Writer::csv"
      ]
    }
  },
  "testFramework": "phpunit",
  "bootstrap": "./vendor/autoload.php",
  "phpUnit": {
    "configDir": "."
  }
}