parameters:
    level: 5
    paths:
    - framework/src
    reportUnmatchedIgnoredErrors: true
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
    - tools/phpstan-bootstrap.php