parameters:
    level: 6
    paths:
        - src
        - framework/src
        - tests
    reportUnmatchedIgnoredErrors: true
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
    - tools/phpstan-bootstrap.php