<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache"
         executionOrder="default"
         resolveDependencies="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
>
  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="display_errors" value="1"/>
    <env name="APP_DEBUG" value="1"/>
    <env name="APP_ENV" value="testing"/>
    <env name="HEALTH_REQUIRE_TOKEN" value="0"/>
    <env name="CORS_ENABLED" value="0"/>
  </php>

  <source>
    <include>
      <directory>src</directory>
      <directory>framework/src/Middleware</directory>
      <directory>framework/src/Collection</directory>
      <directory>framework/src/Config</directory>
    </include>
    <exclude>
      <directory>vendor</directory>
      <directory>tests</directory>
    </exclude>
  </source>
</phpunit>